.about{
    text-align: center;
    padding: 20px;
}

.profileImage {
    width: 200px;          
    height: 200px;         
    border-radius: 50%;    
    object-fit: cover;    
    margin: 10px 0;
}

.section {
    display: flex;          
    flex-direction: column; 
    align-items: center;   
    text-align: center;     
    margin: 20px 0;
}


